---
import LinkIcon from "./LinkIcon.astro";
import GithubIcon from "./githubIcon.astro";
const { img, href, github, text } = Astro.props;
---

<div
  class="card h-full min-w-[300px] overflow-hidden w-full rounded-lg shadow-lg flex flex-col justify-between group hover:scale-105 duration-150"
>
  <img class="h-full w-full object-cover" src={img} alt="foodapp" />
  <div
    class="flex bg-gradient-to-r from-purple-600/10 to-purple-200/10 justify-between p-4"
  >
    <a
      href={github}
      class="hover:text-slate-600 duration-75 flex gap-2 items-center"
      ><GithubIcon />Ver el codigo
    </a>
    <a
      href={href}
      class="hover:text-slate-600 duration-75 flex gap-2 items-center"
    >
      <LinkIcon />Ver el sitio</a
    >
  </div>
</div>
